h1{
    color: red;
    font-size: 50px;
    border: solid;
    margin: auto;
    margin-top: 20px;
    padding-top: 8px;
    text-align: center;
    font-family: arial;
    width: 1100px;
    height: 65px;
}
.anas2{
    margin-left: 150px;
}
.anas3{
    margin-left: 150px;
}
.anas4{
    margin-left: 150px;
}
img{
    width: 350px;
}
.anas5{
    margin-left: 150px;
}
#anas{
    border: solid 1px;
    background-color: rgb(231, 229, 229);
}
